<!doctype html>
<html>
<head>
<title>PROJECT NAME</title>
<script type="text/javascript">
//alert("Welcome to my project");

function rename() {
    var box = document.getElementById("renamefiles");
    var text = document.getElementById("rename");
    if(box.checked == true){
	text.style.display = "block";
    }else{
	text.style.display = "none";
    }
}

function counts() {
    var box = document.getElementById("combinecounts");
    var text = document.getElementById("counts");
    if(box.checked == true){
        text.style.display = "block";
    }else{
        text.style.display = "none";
    }
}

</script>
</head>

<body>
    <form action="" method ="POST">    
    <h1>NAME HERE</h1>
    <p>Please enter all options.</p>

    <label>Fasta file for generating gff</label>
        <br>
    <input type="file" name="fastafile" value={{request.form.fastafile}}> 
        <br> <br>

    <label>Name for GFF</label> 
        <br>
    <input type="text" name="gff" defaultValue=".gff" value={{request.form.gff}}>
        <br><br>

    <label>Step by</label>
        <br>
    <input type="text" name="step" defaultValue=50 value={{request.form.step}}>
        <br><br>

    <input type="checkbox" name="renamefiles" onclick="rename()" checked>Rename files?
        <div id="rename">
            <br>
                <label>Choose all files to rename</label>
                <br>
                <input type="file" name="files" multiple="multiple">
                    <br><br>

                <label>CSV to rename with</label>
                <br>
                <input type="file" name="rename">
        </div>
        <br> <br>

    <input type="checkbox" id="combinecounts" onclick="counts()" checked>Merge counts?<br>
        <div id="counts">
            <br>
                <label>Choose all files for merging</label>
                <br>
                <input type="file" name="counts" multiple="multiple">
                    <br><br>

                <label>Merge by (pick ONE)</label>
                <br>
                <input type="checkbox" name="s">Stranded<br>
                <input type="checkbox" name="u">Unstranded<br>
                <input type="checkbox" name="r">Reverse<br>
                    <br>

                <label>Name for merged file</label>
                <br>
                <input type="text" name="mergename" defaultValue= "merged.out" value ={{request.form.mergename}}>
                    <br><br>

                <label>Extension of files to merge</label>
                <br>
                <input type="text" name="ext" defaultValue = ".tab" value={{request.form.ext}}>
        </div>
        <br> <br>

        <button type="submit">Run</button>

    </form>
</body>
</html>
