<!doctype html>
<html>
<head>
<title>HARC</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
<script type="text/javascript">
function stranded() {
    var box = document.getElementById("s");
    box.nodeValue = true;
    if(box.checked){
        box.nodeValue = true;
    }else{
        box.nodeValue = false;
    }
}

function unstranded() {
    var box = document.getElementById("u");
    box.nodeValue = true;
    if(box.checked){
        box.nodeValue = true;
    }else{
        box.nodeValue = false;
    }
}

function reverse() {
    var box = document.getElementById("r");
    box.nodeValue = true;
    if(box.checked){
        box.nodeValue = true;
    }else{
        box.nodeValue = false;
    }
}
</script>
</head>
     
<div id = "title"> 
    <h1>HARC</h1>
    <h2>HTML-enabled Analysis of Replicated CHIPseq</h2>
    </div>

<form action="" method ="POST">
        <div id="counts">
            <br>
                <label>Merge by </label>
                <select name = "mergeby">
                    <option value="s">Stranded</option>
                    <option value="u">Unstranded</option>
                    <option value="r">Reverse</option>
                  </select> <br><br>

                <label>Name for merged file</label>
                <br>
                <input type="text" name="mergename" value={{request.form.mergename}}>
                    <br><br>

                <label>Extension of files to merge</label>
                <br>
                <input type="text" name="ext" value={{request.form.ext}}>
                <br><br>
                <button type="submit">Run</button>
        </div>
        <br> <br>
    </form>

    <div id = about>
            <div id = b1>
            <button onclick ="window.location.href = '/overview'"> <br><br><br>Project Abstract</a> <br><br>
            </div>
            <div id = b2>
            <button onclick ="window.location.href = '/credits'">  Project  Credits</a> <br><br>
            </div>
</body>
</html>
