<!doctype html>
<html>
<head>
<title>Credits</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
<script type="text/javascript">
//alert("Welcome to my project");
</script>
</head>

<body>
<h1 id = "credits">
    HARC<br>
    A Bioinformatics Project<br>
    High throughput sequencing data analysis pipeline development<br>
    Developer: Amanda Holbrook <br>
    Advisor: Colin Kruse<br>
    Copyright: 2019, HARC<br>
    Version: 1.0.0<br>
    Email: amandajoee@gmail.com<br>

    <img src="https://secure.gravatar.com/avatar/a7abd9a8bb2ad6fdfae56933d2099df2?s=376" alt="The Wyatt Lab Logo">
</h1>


<div id = about>
        <div id = b1>
        <button onclick ="window.location.href = '/results'"> <br><br><br>Back to Choices</a> <br><br>
        </div>
        <div id = b2>
        <button onclick ="window.location.href = '/overview'"> Project Abstract</a> <br><br>
        </div>
    </div>

</body>
</html>
