<!doctype html>
<html>
<head>
<title>HARC</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div id = "title"> 
    <h1>HARC</h1>
    <h2>HTML-enabled Analysis of Replicated CHIPseq</h2>
    </div>

    <form action="" method ="POST"> 

    <p>Please enter all options.</p>

    <label>Name for GFF</label> 
        <br>
    <input type="text" name="gff" value={{request.form.gff}}>
        <br><br>

    <label>Step by</label>
        <br>
    <input type="number" name="step" value={{request.form.step}}>
        <br><br>

        <button type="submit">Run</button>

    </form>

    <div id = about>
            <div id = b1>
            <button onclick ="window.location.href = '/overview'"> <br><br><br>Project Abstract</a> <br><br>
            </div>
            <div id = b2>
            <button onclick ="window.location.href = '/credits'">  Project  Credits</a> <br><br>
            </div>
        </div>
        
</body>
</html>
